AIMLAPI_KEY=XXXXXXX
FEATHERLESS_KEY=XXXXXXX
DEEPGRAM_KEY=XXXXXXX
BRANDAPIKEY=XXXXXXX

BAND_TOKEN_SESSION_BRAIN=XXXXXXX
BAND_TOKEN_RUBRIC_SYNTHESIZER=XXXXXXX
BAND_TOKEN_VOICE_PERSONA=XXXXXXX
BAND_TOKEN_EVIDENCE_CHAIN=XXXXXXX
BAND_TOKEN_INTEGRITY_SKEPTIC=XXXXXXX
BAND_TOKEN_HIRING_COMMITTEE=XXXXXXX
